*{
	margin: 1;
	padding: 2;
}
.wrapper{
	width: 50px;
	margin: left;
} 

.nav-area{
	float: left;
	list-style: none;
	margin: 0px;
	background-color: #F5DEB3;
  margin: 20px;
  padding: 20px;
  border-style: double;
  border-color: #4F7B5F;
  border-width: 10px;
}
.nav-area li{
	display: inline-block;
}
.nav-area li a{
	color: #4F4F7B;
	text-decoration: none;
	padding: 0px;
	font-family: georgia, serif;
	font-size: 20px;
}
.nav-area li a:hover{
	background: fff;
	color: #333;
}
.logo img{
	width: 1100px;
	float: center;
	height: auto;
	padding: 20px;
	border: solid;
	border-color: #F5DEB3;
}
body {
	background-color: #D9AE64;
}
.info{
	 background-color: #7B6C4F;
  color: white;
  margin: 100px;
  padding: 30px;
  border: solid;
	border-color: #F5DEB3;
}
.header{
	 background-color: #4F7B5F;
  color: #D9AE64;
  float: center;
  padding:20px;
  font-family: georgia, serif;
	font-size: 100px;
	border: solid;
	border-color: #F5DEB3;

}
.gallery{
	width: 50px;
	float: center;
	height: auto;
	padding: 20px;
}
.name{
	float: center;
  padding:20px;
  font-family: georgia, serif;
	font-size: 20px;
}
